@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* border: 1px solid rgb(151, 151, 151); */

body {
  position: relative;
  background-color: black;
  color: white;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  /* background-image: url(https://www.wallpaperflare.com/static/750/384/5/blue-black-blocks-wallpaper.jpg); */
  background-size: cover;
  filter: blur(10px); /* Adjust the blur radius as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

input {
  border: 1px solid #dddada;
  border-radius: 6px;
  padding: 10px;
  margin-top: 1rem;
  /* width: 100%; */
}

form-group {
  padding: 10px;
}

body {
  font-family: 'Josefin Sans', cursive;
}

.scrolllist::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.scrolllist::-webkit-scrollbar-track {
  background-color: #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrolllist::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:rgb(0, 0, 0)
}

.scrolllist::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 10px;
  background-color: black;
}

.mat-tab-group{
  font-family: 'Nunito Sans', sans-serif !important;
}
@media only screen and (max-width: 480px) {

  body {
    background-color: #000000;
    color: rgb(255 255 255);
    /* border: 1px solid rgb(151, 151, 151); */
  }
}

/* Loginsigup.css */
/* Add styles for the form fields here */
.form-group {
  position: relative;
}

/* Style the icon */
.form-group svg {
  position: absolute;
  left: 11px;
  top: 2.2rem;
  transform: translateY(-50%);
  color: #515151;
}

/* Adjust input padding to make space for the icon */
.form-group input {
  padding-left: 30px; /* Adjust as needed based on icon size */
}
