@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* border: 1px solid rgb(151, 151, 151); */


body {
  position: relative;

}

.MuiPaper-root .MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation24 MuiDialog-paper MuiDialog-paperScrollPaper MuiDialog-paperWidthMd MuiDialog-paperFullWidth css-rnmm7m-MuiPaper-root-MuiDialog-paper {
  width: auto !important;

}

body::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  /* background-image: url(/asset/backgorunimgproject.webp); */
  height: auto;
  max-width: 150px;
  background-size: contain;
  filter: blur(5px);
  opacity: 0.3;
  z-index: -1;
}

.bgcontainer {
  padding: 2rem;
  background-color: white;
  border: 5px solid #00000014;
  border-radius: 1rem;
}

input {
  border: 1px solid #dddada;
  border-radius: 6px;
  padding: 10px;
  margin-top: 1rem;
  /* width: 100%; */
}

form-group {
  padding: 10px;
}

body {
  font-family: 'Josefin Sans', cursive;
}

.scrolllist::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.scrolllist::-webkit-scrollbar-track {
  background-color: #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrolllist::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(0, 0, 0)
}

.scrolllist::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 10px;
  background-color: black;
}

.mat-tab-group {
  font-family: 'Nunito Sans', sans-serif !important;
}

@media only screen and (max-width: 480px) {}

/* Loginsigup.css */
/* Add styles for the form fields here */
.form-group {
  position: relative;
}

/* Style the icon */
.form-group svg {
  position: absolute;
  left: 11px;
  top: 2.2rem;
  transform: translateY(-50%);
  color: #515151;
}

/* Adjust input padding to make space for the icon */
.form-group input {
  padding-left: 30px;
  /* Adjust as needed based on icon size */
}

.css-x2n5ap {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-align-items: center;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  background-color: #fff6f6ed !important;
  border-radius: 1rem !important;
  box-shadow: 24px !important;
  padding: 48px !important;
  z-index: 0 !important;
  width: 15rem !important;

}

.css-vautga-MuiBackdrop-root {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: 0 !important;
}

/* scrolllist starts */

.scrolllist::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.scrolllist::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrolllist::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: lightgray;
}

.scrolllist::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 10px;
  background-color: lightgray;
}

.mat-tab-group {
  font-family: 'Nunito Sans', sans-serif !important;
}

.content-height {
  height: 57vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* margin: 16px; */
  overflow-y: auto;
  overflow-x: hidden;
}

/* scrolllist ends */