.wrapperclass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    width: min-content;

}

@media (max-width: 550px) {
    .wrapperclass {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;

    }
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.selectioncss {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.selectioncss.selected {
    border-radius: 1rem;
    border: 4px solid #4ac633;
}
.selectiontextcss{
    position: relative;
    bottom: 0.5rem;
}